#l1{
    color: #3e5f8a;
}

#l2{
    color: #5783bc;
}

#l3{
    color: #6a9cde;
}

#l4{
    color: #a0c5f7;
}

#l5{
    color: #0CB7F2;
}

.Titulo{
    text-align: center;
}

.cuerpo{
    background-color: #3c0000;
}