/* body{
    background-color: #d8f8e1    ;
}

#output1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#output2{
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: auto;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    background-color: lightgrey;
} */
